* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.elementor-section {
  display: flex;
  justify-content: center;
  background-color: #7B5DBB;
  height: 41px;
}

.elementor-widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  list-style: none;
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  padding: 0 12px;
}

.icons-list-itens,
.icons-list-itens a {
  text-decoration: none;
  color: #fff;
  padding: 0 18px;
  padding-left: 1px;
}

.icons-list-itens .svg {
  margin-right: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
}

.header-column {
  display: flex;
  align-items: center;
  margin: 0 25px;
}

.logo {
  max-width: 100%;
  height: 110px;
  margin-right: 0;
}

nav {
  display: flex;
  justify-content: flex-start;
  font-family: "Open Sans", Sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #616659;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.button-column {
  display: flex;
  justify-content: start;
}

.contact-button-header {
  display: inline-block;
  padding: 10px 35px;
  fill: #7B5DBB;
  color: #7B5DBB;
  font-size: 15px;
  font-family: "Open Sans", Sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #7B5DBB;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

/* Responsividade mobile */
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .button-column {
    display: none;
  }

  nav {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  nav.active {
    display: flex;
  }

  nav a {
    color: #33373D;
    font-size: 13px;
    padding: 10px 0;
    text-align: left;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-left: auto;
    position: relative;
    z-index: 1001;
  }

  body.menu-open {
    overflow: hidden;
  }

  .header-column {
    margin: 0;
    flex: 1 1 auto;
    justify-content: space-between;
  }

  .logo {
    height: 100px;
    margin-right: 0;
  }
}

/* Responsividade para tablet (769px a 1207px) */
@media (min-width: 769px) and (max-width: 1207px) {
  .desktop-only {
    display: none;
  }

  .button-column {
    display: none;
  }

  nav {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  nav.active {
    display: flex;
  }

  nav a {
    color: #33373D;
    font-size: 18px;
    padding: 10px 0;
    text-align: left;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-left: auto;
    position: relative;
    z-index: 1001;
  }

  body.menu-open {
    overflow: hidden;
  }

  .header-column {
    margin: 0;
    flex: 1 1 auto;
    justify-content: space-between;
  }
}

/* Responsividade desktops */
@media (min-width: 1208px) {
  nav {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    position: static;
    width: auto;
    padding: 0;
  }

  .menu-toggle {
    display: none;
  }
}

/* HeroSection  inicio */

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 20%;
  background-image: url('https://images.prismic.io/drlarissavirginia/ZzVhuq8jQArT02vJ_HeroSection.png?auto=format,compress');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #3d3d3d;
  height: 75vh;
}

.hero-content {
  max-width: 700px;
  padding: 10px;
  text-align: start;
}

.hero-content h1 {
  font-family: "Open Sans", Sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -2.3px;
  margin-bottom: 30px;
}

.hero-content p {
  width: 600px;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #7A7A7A;
  line-height: 1.5;
}

.contact-button {
  display: inline-block;
  padding: 9px 20px;
  font-family: "Open Sans";
  font-size: 15px;
  color: #62675A;
  border: 1px solid #62675A;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button .svg {
  margin-left: 10px;
}

/* Estilos para tablet */
/* @media (min-width: 769px) and (max-width: 1207px) {
  .hero-section.tablet {
    flex-direction: column;
    padding: 0 10%;
    height: 130vh;
    text-align: center;
    background-image: url('https://images.prismic.io/drlarissavirginia/ZzVhuq8jQArT02vJ_HeroSection.png?auto=format,compress');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-section.tablet .hero-content {
    max-width: 100%;
    text-align: center;
    padding: 0;
  }

  .hero-section.tablet .hero-content h1 {
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -1px;
  }

  .hero-section.tablet .divider {
    width: 70%;
    height: 2px;
    margin: 0 auto;
    margin-top: -5px;
  }

  .hero-section.tablet .hero-content p {
    width: 100%;
    font-size: 22px;
    text-align: justify;
    margin-top: 40px;
    color: #000;
  }

  .hero-section.tablet .contact-button {
    font-size: 24px;
    margin-top: 10px;
    padding: 8px 24px;
  }

  .hero-section.tablet .contact-button .svg {
    margin-left: 15px;
  }
} */

/* Estilos para mobile */
@media (max-width: 768px) {
  .hero-section.mobile {
    flex-direction: column;
    padding: 15px 10px 0px 10px;
    height: 850px;
    text-align: center;
    background-image: url('https://images.prismic.io/drlarissavirginia/Zz0b3q8jQArT1DNI_HeroSectionMobile.png?auto=format,compress');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-section.mobile .hero-content {
    max-width: 100%;
    text-align: center;
    padding: 0;
  }

  .hero-section.mobile .hero-content h1 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
  }

  .hero-section.mobile .divider {
    width: 70%;
    height: 2px;
    margin: 0 auto;
    margin-top: -15px;
  }

  .hero-section.mobile .hero-content p {
    width: 100%;
    font-size: 13px;
    text-align: justify;
    color: #000;
  }

  .hero-section.mobile .contact-button {
    margin-top: -10px;
    padding: 8px 20px;
  }

  .hero-section.mobile .contact-button .svg {
    margin-left: 5px;
  }
}


/* HeroSection  FIM */



/* MoreInfoSection  inicio */

.more-info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 23%;
}

.more-info-content {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.info-image {
  width: 450px;
  height: 570px;
  object-fit: cover;
  margin-right: 65px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.info-text {
  width: 100%;
  text-align: start;
}

.info-text h2 {
  font-family: "Open Sans", Sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -2px;
  color: #3D3D3D;
  margin-top: 15px;
}

.info-text p {
  width: 550px;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #7A7A7A;
}

.contact-button {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Tablet adjustments */
.more-info-section.tablet {
  padding: 40px 10%;
}

.more-info-section.tablet .info-image {
  width: 450px;
  height: auto;
  margin-top: 50px;
  margin-left: -50px;
}

.more-info-section.tablet .info-text h2 {
  font-size: 36px;
  line-height: 45px;
}

.more-info-section.tablet .info-text p {
  font-size: 14px;
  width: 99%;
}

/* Mobile adjustments */
.more-info-section.mobile {
  padding: 20px 5%;
  text-align: center;
}

.more-info-section.mobile .more-info-content {
  flex-direction: column-reverse;
  align-items: center;
}

.more-info-section.mobile .info-image {
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-top: 20px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.more-info-section.mobile .info-text {
  text-align: center;
}

.more-info-section.mobile .info-text h2 {
  text-align: start;
  font-size: 36px;
  line-height: 36px;
}

.more-info-section.mobile .info-text p {
  text-align: start;
  font-size: 13px;
  width: 100%;
}

.more-info-section.mobile .contact-button {
  padding: 11px 15px;
  font-size: 12px;
}


/* MoreInfoSection  FIM */


/* SpecialtiesSection  inicio */

.specialties-section {
  padding: 100px 20% 50px;
  background-color: #faf2f0;
  text-align: center;
}

.highlighted-text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #3D3D3D;
  margin-bottom: 5px;
}

.specialties-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.specialties-header h2 {
  font-family: "Roboto", sans-serif; /* Aplica a fonte correta */
  font-size: 44px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #333;
  margin-bottom: 50px;
}

.divider {
  width: 450px;
  height: 1px;
  background-color: #333333;
  margin-left: 0;
  margin-right: 0;
}

.specialties-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.specialty-card {
  width: 17vw;
  height: 560px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: -10px 9px 9px rgba(0, 0, 0, 0.192);
  padding: 20px;
  margin: 10px;
  text-align: center;
  justify-items: center;
}

.specialty-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  /* margin-bottom: 20px; */
}

.specialty-card h3 {
  font-family: "Roboto", sans-serif;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 10px;
}

.specialty-description {
  font-family: "Roboto", sans-serif; /* Garante que a fonte seja aplicada */
  font-size: 14px; /* Ajuste o tamanho conforme necessário */
  line-height: 1.6; /* Melhora a leitura */
  color: #3d3d3d; /* Certifique-se de que a cor é visível */
  text-align: start;
}
.specialty-description ul li {
  list-style: none;
  position: relative;
  padding-left: 22px;
}

.specialty-description ul li:before {
  content: "✔"; /* Unicode do check */
  font-family: Arial, sans-serif; /* Garanta que a fonte seja padrão */
  font-size: 14px;
  color: #333;
  position: absolute;
  left: 0;
  top: 3px;
}

.specialty-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #3d3d3d;
  font-size: 13px;
}

.specialty-card ul li {
  margin-bottom: 10px;
}

/* Responsividade */

/* Mobile muito pequeno */
@media (max-width: 321px) {
  .specialties-cards {
    grid-template-columns: 1fr;
    margin-top: -5px;
  }

  .specialty-card {
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
  }

  .specialties-section {
    padding: 20px 4%;
    background-color: #faf2f0;
    text-align: center;
  }

  .specialty-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.8;
    color: #3d3d3d;
    font-size: 12px;
  }
}

/* Mobile */
@media (min-width:322px) and (max-width: 768px) {
  .specialties-cards {
    grid-template-columns: 1fr;
  }

  .specialty-card {
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
  }

  .specialties-section {
    padding: 50px 5%;
    background-color: #faf2f0;
    text-align: center;
  }

  .specialty-card ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    line-height: 1.8;
    color: #3d3d3d;
    font-size: 16px;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1207px) {
  .specialties-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .specialty-card {
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
  }
}



/* SpecialtiesSection  FIM */