* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

.elementor-section {
    display: flex;
    justify-content: center;
    background-color: #7B5DBB;
    height: 41px;
  }
  
  .elementor-widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    list-style: none;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding: 0 12px;
  }
  
  .icons-list-itens, .icons-list-itens a {
    text-decoration: none;
    color: #fff;
    padding: 0 25px;
    padding-left: 1px;
  }
  
  .icons-list-itens .svg {
    margin-right: 5px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
  }
  
  .header-column {
    display: flex;
    align-items: center;
    margin: 0 25px;
  }
  
  .logo {
    max-width: 100%;
    height: 110px;
    margin-right: 0;
  }
  
  nav {
    display: flex;
    justify-content: flex-start;
    font-family: "Open Sans", Sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #616659;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
  }
  
  .button-column {
    display: flex;
    justify-content: start;
  }
  
  .contact-button-header {
    display: inline-block;
    padding: 10px 35px;
    fill: #7B5DBB;
    color: #7B5DBB;
    font-size: 15px;
    font-family: "Open Sans", Sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #7B5DBB;
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }
  
  /* Responsividade mobile */
  @media (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    
    .button-column {
      display: none;
    }
  
    nav {
      display: none;
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      top: 150px;
      left: 0;
      width: 100%;
      height: fit-content;
      padding: 20px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
    
    nav.active {
      display: flex;
    }
    
    nav a {
      color: #33373D;
      font-size: 13px;
      padding: 10px 0;
      text-align: left;
    }
    
    .menu-toggle {
      display: block;
      cursor: pointer;
      font-size: 22px;
      color: #000;
      font-weight: 600;
      margin-left: auto;
      position: relative;
      z-index: 1001;
    }  
  
    body.menu-open {
      overflow: hidden;
    }
  
    .header-column {
      margin: 0;
      flex: 1 1 auto;
      justify-content: space-between;
    }
  
    .logo {
      height: 100px;
      margin-right: 0;
    }
  }
  
  /* Responsividade para tablet (769px a 1207px) */
  @media (min-width: 769px) and (max-width: 1207px) {
    .desktop-only {
      display: none;
    }
  
    .button-column {
      display: none;
    }
  
    nav {
      display: none;
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      top: 150px;
      left: 0;
      width: 100%;
      height: fit-content;
      padding: 20px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
    
    nav.active {
      display: flex;
    }
    
    nav a {
      color: #33373D;
      font-size: 18px;
      padding: 10px 0;
      text-align: left;
    }
    
    .menu-toggle {
      display: block;
      cursor: pointer;
      font-size: 22px;
      color: #000;
      font-weight: 600;
      margin-left: auto;
      position: relative;
      z-index: 1001;
    }  
  
    body.menu-open {
      overflow: hidden;
    }
  
    .header-column {
      margin: 0;
      flex: 1 1 auto;
      justify-content: space-between;
    }
  }
  
  /* Responsividade desktops */
  @media (min-width: 1208px) {
    nav {
      display: flex;
      justify-content: flex-start;
      background-color: transparent;
      position: static;
      width: auto;
      padding: 0;
    }
  
    .menu-toggle {
      display: none;
    }
  }